:root {
  --duration: 20s;
}

.s_brands {
  padding: 50px 86px;
}

.s_brands .heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.s_brands .brand-slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.s_brands .brand-slider-inner {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  white-space: nowrap;
}

.s_brands.s_brands_scroll_yes .brand-slider-inner {
  animation: slide var(--duration) linear infinite;
}

.s_brands.s_brands_scroll_no .brand-slider-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: none; 
}

.s_brands .brand {
  width: 201px;
  height: 150px;
}

@keyframes slide {
  0% { 
    transform: translateX(200px); 
  }
  100% { 
    transform: translateX(-50%); 
  }
}