:root {
  --duration: 20s;
}
.brand-slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.brand-slider-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  white-space: nowrap;
  animation: slide var(--duration) linear infinite;
}

.brand {
  width: 200px;
  height: 200px;
}

@keyframes slide {
  0% { 
    transform: translateX(200px); 
  }
  100% { 
    transform: translateX(-50%); 
  }
}